@import url('<link href="https://fonts.googleapis.com/css2?family=Anton&family=Tilt+Warp&display=swap" rel="stylesheet">');

:root {
    --font-primaria: 'Tilt Warp', sans-serif;
    --font-secundaria: 'Anton', sans-serif;
    --cor-main: rgb(73, 72, 72);
    --cor-headerefooter: rgb(158, 157, 155);
    --cor-texto: rgb(0, 0, 0);
}

body {
    background-color: var(--cor-main);
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--cor-texto);
}

.cabecalho { 
    background-color: var(--cor-headerefooter);
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2px;

}

.cabecalho__nome {
    font-family: 'Tilt Warp', sans-serif;
}

.cabecalho__dados {

    font-family: 'Anton', sans-serif;
}

.link__redes {
    text-decoration: none;
    color: var(--cor-texto);
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    font-family: var(--font-secundaria);
}

.subtitulo {
    font-family: var(--font-secundaria);
}

.empresa {
    font-size: 1rem;
}

.rodape {
    text-align: center;
    padding: 2px;
    background-color: var(--cor-headerefooter);
    font-size: var(--font-secundaria);
}